:root {
    --accent: rgb(243, 213, 192);
    --white: #f5f5f5;
    --accentSecondary: #22525e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition-duration: 0.5s;

}


a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'League Spartan', 'Trebuchet MS', 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: #0d3039;

}

.footer {
    width: 100%;
    height: 10%;
    background-color: #0c272e;
    align-items: left;
    font-size: 1rem;
    padding: 1%;
}

.footer > p {
    color: #e3e3e3;
    font-weight: 300;
}

span.b {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    transition-duration: 0.25s;
    }
    
    ::-webkit-scrollbar-track {
    background: #22525e;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #0d3039;
    border-radius: 10px;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #0c272e;  
    }







nav {
    padding: 0 25px;
    width: 100%;
    border-top: 8px;
    border-top-color: var(--accent);
    background-color: rgb(13, 48, 57, 0.85);
    border-top-style: solid;
    backdrop-filter: blur(15px);
    position: relative;
    top: 0px;
    z-index: 10;
}

.hero h1 {
    font-size: 4.5rem;
    font-family: 'League Spartan', 'Trebuchet MS', 'Arial', sans-serif;
    text-align: left;
    color: var(--white);
    font-weight: 600;
    letter-spacing: -0.1rem;
}


.subHeading {
    font-size: 1.5rem;
    color: #d1d1d1;
    letter-spacing: 0px;
    font-weight: 400;
}
.subContainer {
    max-width: 80%;
    word-wrap: normal;
}

#CAD {
    text-align: left;
    color: var(--accent);
    font-size: 10vw;
    margin-bottom: -1%;
    letter-spacing: -0.2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 108dvh;
    width: 100%;
    justify-content: center;
    padding-left: 5%;
    margin-bottom: 0px !important;
}

.hero * {
    margin: 10px;
}

.hero:nth-child(1n) {
    margin-top: -4%;
}

#heroImage {
    object-fit: cover;
    right: 0px;
    bottom: -5px;
    display: none;
    position: absolute;
    max-width: 70%;
    /*background-color: var(--accent);*/
    height: auto;
    z-index: -1;
}

#heroBox {
    position: absolute;
    background-color: #506d84;
    margin-left: 60%;
    margin-top: 20%;
    max-height: 50%;
    width: auto;
    z-index: 0;
}

#heroButton {
    border-width: 4px;
    border-color: var(--accent);
    border-style: solid;
    text-decoration: none;
    padding: 10px;
    transform: scale(0,0);
    background-color: #0d3039;
    color: var(--white);
    transition-duration: 0.1;
    font-size: 1.5rem;
    margin-top: 5px;
    animation: 0.35s ease-out 0.1s 1 scaleIn;


}

@keyframes scaleIn {
    from { font-size: 0rem;}
    to {font-size: 1.5rem;}
  }
#Grid {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    height: auto;
    max-width: 40%;
    opacity: 0;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    height: 70dvh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #22525e;
}

.button {
    display: flex;
    border-color: var(--accent);
    border-width: 4px;
    border-style: solid;
    height: 70%;
    width: auto;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    transition-duration: 0.1s !important;
}

.buttonImage {
    width: 100%;
    height: 80%;
}

.buttonText {
    font-size: 2.5rem;
    color: var(--white);
    padding: 10px;
    letter-spacing: 0px;

}

.imageContainer {
    padding: 5px;
    border-color: var(--accent);
    border-style: solid;
    border-width: 4px;
}
.imageContainer p {
    color: var(--white);
    margin-top: 3%;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.textContainer {
    word-wrap: normal;
    margin-top: 8%;
    align-items: center;
}
.textContainer > * {
    margin-bottom: 2%;
    line-height: 1.06;
}
.textContainer h2 {
    font-size: 2rem;
    color: var(--white);
    font-weight: 600;
}
.textContainer h3 {
    font-size: 1.5rem;
    color: #7aa7cf;
    font-weight: 400;
}
.textContainer > p, ul {
    font-size: 1.7rem;
    color: #e3e3e3;
    font-weight: 300;
}
.textContainer > ul li {
    margin-bottom: 1%;
}

ul {
    list-style-type: square;
}

.sources > li > a, .sources > li{
    color: #d1d1d1 !important;
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}


.sources > li:last-of-type {
    margin-bottom: 1rem;
}
.sources > li:first-of-type {
    margin-top: 0.5rem;
}

.navItem {
    padding: 10px;
    font-size: 2rem;
    order: 1;
    width: 100%;
    text-align: center;
    display: block;

}

.navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 0%;
    list-style-type: none;
}
.navItem a {
    display: block;
    padding: 15px 15px;
    color: var(--accent);
    text-decoration: none;
    width: fit-content;
    font-weight: 600;
    transition-duration: 0.15s;
}
.navItem a:hover {
    color: var(--white);
}

#heroButton:hover, .button:hover {
    border-color: var(--white);
    background-color: #0c272e;
}

#heroButton:hover {
    padding: 8px;
}

.button:hover {
    padding: 0px;
}

.navContainer {
    /*display: flex;*/
    width: 100%;
}

@media (min-width: 481px) {
    .navContainer {
        align-items: center;
    }
    
}

@media only screen and (min-width: 768px) {
    .navLinks {
        align-items: center;     
        flex-wrap: nowrap;
        background: none;
        margin-right: 75%;
        margin-left: 1%;
    }
    .navItem {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    #heroImage {
        display: block;
    }
    .subContainer {
        max-width: 40%;
    }
    nav {
        position: fixed;
    }
    .imageContainer p {
        margin-top: 0.8%;
    }
    .textContainer {
        margin-top: 0px;
        align-items: normal;
    }
}